body {
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

p {
  margin-bottom: 0;
}

.nowrap {
  white-space: nowrap;
}

/* navigation bar */

.navigation-bar {
    padding-left: 20px;
    border-bottom: 1px solid #ddffbc;
      }

.navbar {
    min-height: 70px;
    padding-bottom: 15px;
}

.nav-button {
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    background: transparent;
    transition: all 0.3s ease;
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 3px;
    min-width: 150px;
    padding: 0 10px 0;
    z-index: 1;
  }
  
  .nav-button:hover {
    color: black;
  }
  
  .nav-button:hover:after {
    left: 0;
    width: 100%;
  }
  
  .nav-button:after {
    border-radius:10px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    transition: all 0.3s ease;
  }
  
  .home-button {
      color: #ddffbc;
      border: 1px solid #ddffbc;
      box-shadow: 0 0 5px #ddffbc, 0 0 5px #ddffbc inset;
    }
    
  .home-button:after {
      background: #ddffbc;
      box-shadow: 0 0 20px  #ddffbc;
    }
    
    .about-button {
      color: #e4e3c7;
      border: 1px solid #e4e3c7;
      box-shadow: 0 0 5px #e4e3c7, 0 0 5px #e4e3c7 inset;
    }
    
    .about-button:after {
      background: #e4e3c7;
      box-shadow: 0 0 20px  #e4e3c7;
    }
   
    .visit-button {
      color: #ecc5d2;
      border: 1px solid #ecc5d2;
      box-shadow: 0 0 5px #ecc5d2, 0 0 5px #ecc5d2 inset;
    }
    
    .visit-button:after {
      background: #ecc5d2;
      box-shadow: 0 0 20px  #ecc5d2;
    }
    
    .book-button {
      color: #f3aadd;
      border: 1px solid #f3aadd;
      box-shadow: 0 0 5px #f3aadd, 0 0 5px #f3aadd inset;
    }
    
    .book-button:after {
      background: #f3aadd;
      box-shadow: 0 0 20px  #f3aadd;
    }
    
    .shop-button {
      color: #f993e6;
      border: 1px solid #f993e6;
      box-shadow: 0 0 5px #f993e6, 0 0 5px #f993e6 inset;
    }
    
    .shop-button:after {
      background: #f993e6;
      box-shadow: 0 0 20px  #f993e6;
    }
   
    .contact-button {
      color: #ff78f0;
      border: 1px solid #ff78f0;
      box-shadow: 0 0 5px #ff78f0, 0 0 5px #FF78F0 inset;
    }
    
    .contact-button:after {
      background: #FF78F0;
      box-shadow: 0 0 20px  #FF78F0;
    }

    /* title section */

    .title-section {
      background-color: black;
      background-image: url("../images/title-background.jpeg");
      padding: 50px;
    }

    h1 {
      font-family: "Autour One", sans-serif;
      font-size: 4em;
      color: white;
      text-shadow: 
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
  } 
  
  h1:hover{
      animation: flicker 1.5s
      infinite alternate;
  
  }
  
  @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    } 
    20%, 24%, 55% {
        text-shadow: none;
    }
  }
  
  h2 {
    color: #ddffbc;   
    max-width: 500px;  
      }

  .title-col-2 {
    margin: auto;
    height: auto;
    width: auto;
    min-height: 55px;
  }

  .book-tickets {
    background-color: black;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid  #ddffbc;
    box-shadow: 0 0 10px #ddffbc, 0 0 10px #ddffbc inset;
    padding: 10px;
  }

  .book-tickets:hover {
    box-shadow: 0 0 30px #ddffbc, 0 0 30px #ddffbc inset;
  }


/* location and dates banner */

.location-and-dates-section {
  color: white;
  opacity: 80%;
  background-color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 0px 50px 0px;
  border-bottom: #ddffbc 1px solid;
  border-top: #ddffbc 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* carousel - images and press reviews */

.carousel-section {
  color: #fff;
  padding: 20px 50px 20px;
}

.carousel-img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

.review-text {
  background-color: black;
  color: #fff;
  font-size: 1.5em;
  opacity: 75%;
  padding: 5px;
  position: absolute;
  width: 80%;
}

.review-text-1 {
  left: 10%;
  top: 5%;
}

.review-text-2 {
  left: 10%;
  bottom: 10%;
}

.review-text-3 {
  left: 10%;
  top: 5%
}

.mobile-review-text {
  color: white;
  display: none;
  font-size: 1.2em;
  text-align: center;
  padding: 20px 10px 50px;
  opacity: 75%;
}

/* introduction section */

.introduction-section {
  color: white;
  background-color: black;
  opacity: 80%;
  padding: 50px 125px 20px;
  text-align: left;
  margin: auto;
}

.intro-p1 {
  font-size: 20px;
}

/* exhibition features section */

.features-section {
  padding: 50px 50px 50px;
  text-align: center;
}

.features-img-frame {
  background-size: 100%;
  background-position: center middle;
  border: 2px solid #ff78f0;
  margin: auto auto 30px;
  width: 290px;
  height: 290px;
  transition: 1s ease-in-out;
  position: relative;
}

.features-img-frame-1 {
  background-image: url("../images/bird.png");
}

.features-img-frame-2 {
  background-image: url("../images/cave.png");
}

.features-img-frame-3 {
  background-image: url("../images/lab.png");
}

.features-img-frame:hover {
  background-size: 110%;
  
}

h3 {
  color: #fff;
  opacity: 75%;
  padding-bottom: 5px;
}

.feature-title-caves {
  width: 80%;
  margin: auto
}

.feature-desc {
  color: #fff;
  opacity: 60%;
  width: 80%;
  max-width: 290px;
  margin: auto;
}

.features-row-1 {
  padding-bottom: 50px;
}

.read-more {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid  #ddffbc;
  box-shadow: 0 0 5px  #ddffbc, 0 0 5px  #ddffbc inset;
  padding: 10px;
}

.read-more:hover {
  box-shadow: 0 0 20px  #ddffbc, 0 0 20px  #ddffbc inset;
}

/* organisations section */

.organisations-section {
  background-color: white;
  padding: 0 100px 0;
}

.org-logo {
  padding: 20px 0 20px;
}

/* footer */

footer {
  background-image: url("../images/title-background.jpeg");
  color: #fff;
}

.footer-pt-1 {
  padding: 50px 100px 40px;
}

.footer-nav {
  padding-bottom: 20px;
}

.footer-link {
  color: #fff;
  opacity: 70%;
  text-decoration: none;
}

.footer-link-1:hover {
  color: #ff78f0;
  opacity: 100%;
}

.footer-link-2:hover {
  color:#f993e6;
  opacity: 100%;
}

.footer-link-3:hover {
  color:#f3aadd;
  opacity: 100%;
}

.footer-link-4:hover {
  color:#ecc5d2;
  opacity: 100%;
}

.footer-link-5:hover {
  color:#e4e3c7;
  opacity: 100%;
}

.footer-link-6:hover {
  color:#ddffbc;
  opacity: 100%;
}

#newsletter1 {
  max-width: 400px;
}

#thanks-for-signing-up {
  padding-top: 10px;
}

.footer-pt-2 {
  color: #ff78f0;
  border-top: 1px #fff solid;
  font-size: 14px;
  padding: 10px 100px 20px;
}

.sm-icons {
  padding: 10px 0 10px;
}

.sm-icon {
  cursor: pointer;
  font-size: 36px;
  padding: 0 10px 10px;
}

.sm-icon:hover {
  transform: scale(1.5);
}

/* contact page */

.contact-form-section {
  padding: 50px 50px 50px;
}

.form-container {
  background-color: #fff;
  max-width: 700px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid  #ddffbc;
  box-shadow: 0 0 5px  #ddffbc, 0 0 5px  #ddffbc inset;
}

fieldset {
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact-name,
#contact-email,
#contact-message,
#contact-submit {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  border-radius: 10px;
  }

  #contact-name:focus,
  #contact-email:focus,
  #contact-message:focus{
    border: 1px black solid;
    outline: none
  }

#contact-name {
  margin-top: 20px;
}

#contact-message {
  height: 100px;
}

#contact-submit {
  background-color: #ff78f0;
}

#contact-submit:hover {
  background-color: #f54be1;

}

/* CSS from VM - added 8 Mar  */

.visit-paragraph {
  padding: 20px;
  color: black;
}


#two {
  margin-bottom: 10px;
  color:white;

}

#three {
  margin-bottom: 0;
  color:white;
  text-align: center;

}

#center {
  padding: 50px 20px 20px 20px;
  margin: auto; 
  text-align: center;


}


.line {
  display: none;


}


.visit-container {
  padding-left: 100px;
  padding-right: 100px;
}

 /* Visitor Page */ 


    /* Address */

    .location-and-dates-visit {
      color: #ff78f0;
      font-size: 18px;
      font-weight: bold;
      padding: 20px 20px 30px 20px;

  }

   /* Admission Information */



   .admission-information {
    display: flex;
    margin-left: auto;
    margin-right: auto 
  
  }
    

   .admission-book-ticket {

    color:#ffffff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid  #ddffbc;
    box-shadow: 0 0 5px  #ddffbc, 0 0 5px  #ddffbc inset;
    padding: 10px;
    margin: 60px 60px 60px 60px;
    align-items: center;
    justify-content: center;


   }

   .admission-book-ticket:hover {
    background-color: #ddffbc;
    color: #000;
  }


  /* table style */


  table, th, td {
    margin: 10px auto;
    color: #ff78f0;
    border-bottom: 1px #fff solid;
    font-size: 14px;
    padding: 20px 20px 50px 20px;
    max-width: 700px;
    text-align: center;  
    margin-bottom: 50px;

  }

  .table{
    margin-bottom: 50px;


  }

  .btn-dark {
    margin: auto;

  }

  .fa-solid  {
    color: #ff78f0;
    padding: 20px 20px 20px 20px;
  }

  .fa-person-walking {
    align-items: baseline;
  }

  /* Map */

  .google-map {

    margin: auto;
    align-items: center;
    margin-bottom: 100px;
  }


 .direction-buttons {
  margin: auto;
  margin-bottom: 50px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  border: 1px solid #ecc5d2 200px;
  font-weight: bold;
  align-content: center;

 }

 .how_to_find_us {
  margin: auto;
 }
 
 /* Direction Buttons */

 .directions-container {
  text-align: center;
  width: 100%;
  margin: auto;
}

.btn {
  width: 120px;;
  font-size: 15px;
}

.button-col {
  padding-top: 10px;
  padding-bottom: 10px;
  
}

/* Directions Icons */
.visit-container {
  text-align: center;
  width: 100%;
  margin: auto;

}

.visit-paragraph {
  opacity: 80%;
}

  /* Accordian */

  .accordion {
    margin: 0 auto;
    

  }

  .contact-link {
    color: #ff78f0;

  }
  
  .contact-link:active {
    color: #ffffff;
}

  .accordion-item {
    border: 0;
    background:#000;
    color: #ffffff;
    margin: 5px;

  }

  .accordion-body {
    text-align: left;
    opacity: 80%;
  }

.accordion-button {
  color: #ffffff; 
}

  .faq {
    padding-top: 50px;

  }




 /* Booking Form page */

  .booking-form-section {
    padding: 50px;
  }

  .form-title {
    color: white;
    opacity: 85%;
  }

  .form-text {
    color: white;
    opacity: 70%;
    padding-bottom: 20px;
    font-size: 14px;
  }

  .booking-form {
    max-width: 700px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: whitesmoke;
  }
  
  input[type="date"],
  input[type="number"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #ff78f0;
    color: #000;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #f54be1;
  }

/* Media Queries */
  
@media (max-width: 991px) {

  h1, h2 {
    text-align: center;
    margin: auto;
  }

  h1 {
    padding-bottom: 20px;
  }

  h2 {
    padding-bottom: 40px;
  }

  .location-and-dates {
    text-align: center;

  }

  .carousel-section {
    padding: 20px 20px 20px;
  }

 
  .form-container {
    margin: auto;
  }

  .book-title-section {
    padding-bottom: 0;
  }

  .booking-form {
    margin: auto;
  }
  
}

@media (max-width: 1200px) {
  .feature-desc {
    padding-bottom: 30px;
  }
  .lab-desc {
    padding-bottom: 0;
  }
  }

@media (max-width: 880px) {
  .review-text {
    display: none;
  }
  .mobile-review-text {
    display: block;
  }
}

@media (max-width: 767px) {
  .location-and-dates {
    padding: 0 20px 0;
    }
    .carousel-section {
    padding: 20px 0px 20px;
  }
  .introduction-section {
    padding: 20px 50px 20px;
  }
  .features-img-frame {
    height: 350px;
    width: 350px;
  }
  .organisations-section {
    padding: 0 20px 0;
  }
  .footer-pt-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 500px) {
  .features-img-frame {
    height: 250px;
    width: 250px;
  }
  body {
    font-size: 14px;
  }
  .intro-p1 {
    font-size: 18px;
  }

  .title-section {
    padding: 50px 20px 50px;
  }
  .book-title-section {
    padding-bottom: 0;
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 20px;
  }
  .book-tickets {
    font-size: 24px;
  }
  .features-section {
    padding: 50px 20px 50px;
  }
  .location-and-dates-section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .location-and-dates {
    font-size: 15px;
  }
  .mobile-review-text {
    font-size: 1.1em;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .footer-pt-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

  @media (max-width: 430px) {
  .read-more {
    font-size: 12px;
  }
  }

/* Media Queries VM */

@media (max-width: 759px) {

  .line {
    display: block;
    border: 1px solid #ff78f0;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
  }

}

  @media(max-width: 991px) {
    .visit-container {
        padding-left: 0;
        padding-right: 0;
    }
  
  }


  